ConsoleApp1/ConsoleApp1/Web References/localhost/RandomNumberGeneratorService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RandomNumberService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RandomNumberService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNumberDateModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NumberDateModel" nillable="true" type="tns:NumberDateModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNumberDateModel" nillable="true" type="tns:ArrayOfNumberDateModel" />
  <xs:complexType name="NumberDateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumberDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RandomNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NumberDateModel" nillable="true" type="tns:NumberDateModel" />
</xs:schema>